@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Russo+One&display=swap');

:root {
    --azul-escuro: rgb(14, 14, 151);
    --branco: ghostwhite;
    --roxo: rgb(165, 14, 165);
    --lateral-esquerda: 40%;
    --lateral-direita: 60%;
}

* {
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

main {
    display: flex;
    background-color: var(--azul-escuro);
    height: 100vh;
}

h1,
h2 {
    text-align: center;
    font-size: 200%;
    font-family: 'Chakra Petch', sans-serif;
}

h2 {
    margin-top: 30px;
    color: var(--branco);
}

h3 {
    text-align: center;
    font-size: 125%;
}

header {
    background-color: var(--roxo);
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-bottom: 2px solid cadetblue;
}

#logoTitulo {
    background-color: inherit;
    width: var(--lateral-esquerda);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoTitulo img{
    width: 80px;
    margin-right: 10px;
}

#logoTitulo h1{
    border-bottom: 5px ridge darkorchid;
}

#tituloSubtitulo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#subtitulo{
    font-size: 22px;
    color: cornflowerblue;
}

#menuDeCards {
    width: var(--lateral-direita);
    display: flex;
    justify-content: space-evenly;
}

#menuDeCards>button {
    transition: 200ms;
    width: 130px;
    height: 70px;
    overflow-wrap: break-word;
    border-radius: 10px;
    border-width: 4px;
    border-style: outset;
    border-color: blueviolet;
    background-color: mintcream;
    font-family: 'Russo One', sans-serif;
}

#menuDeCards> .selecionado{
    background-color: rgb(42, 194, 194);
    scale: 0.95;
    transition: 200ms;
}

.numeroCard {
    font-size: 18px;
    font-family: 'Russo One', sans-serif;
}

#barraLateral {
    height: 100%;
    width: var(--lateral-esquerda);
    display: flex;
    justify-content: center;
}

#menuDeDicas {
    height: 100%;
    width: var(--lateral-direita);
    background-color: var(--branco);
}

form,
label,
#botoesForm {
    background-color: var(--azul-escuro);
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90%;
}

form #botaoReset {
    display: none;
}

form.novoItem #botaoCancelar {
    display: none;
}

form.novoItem #botaoReset {
    display: block;
}

form #adicionar {
    display: none;
}

form.novoItem #editar {
    display: none;
}

form.novoItem #adicionar {
    display: block;
}

form>label {
    margin-top: 6%;
    margin-bottom: 2%;
    font-size: 18px;
}

form>input,
form>select {
    border-radius: 15px;
    height: 30px;
    padding: 0px 10px;
    font-size: 16px;
}

form>textarea {
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 16px;
}

form input,
form select,
form textarea {
    background-color: rgb(240, 193, 193);
}

form.novoItem input,
form.novoItem select,
form.novoItem textarea {
    background-color: var(--branco);
}

form h2 {
    color: crimson;
}

form.novoItem h2,
form label {
    color: var(--branco);
}

form select {
    color: gray;
}

form select:focus {
    color: #000;
}


#botoesForm {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}

#botoesForm>button {
    width: 40%;
    height: 40px;
    border-radius: 20px;
    border-style: groove;
    border-width: 3px;
    border-color: darkcyan;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

#botaoSalvar {
    background-color: rgb(106, 207, 6);
}

#botaoReset,
#botaoCancelar {
    background-color: rgb(201, 28, 28);
}

#barraDePesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

#barraDePesquisa>* {
    height: 40%;
    align-self: center;
    margin: 0 10px;
}

#barraDePesquisa>input {
    width: 70%;
    border-radius: 20px;
    padding: 0px 10px;
    border-style: solid;
    border-color: rgb(88, 88, 88);
}

#barraDePesquisa button {
    background-color: inherit;
    border-style: hidden;
    border-radius: 100%;
}

#barraDePesquisa button :hover {
    width: 40px;
    margin: 0px;
    transition: 200ms;
}

#barraDePesquisa img {
    margin: 0px 5px;
    width: 30px;
}

#blocoDeDicas{
    height: 85%;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
}

#dicas {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#dicas>li {
    border: 2px solid dimgrey;
    width: 80%;
    height: fit-content;
    margin: 1% 2.5%;
    padding: 1% 2%;
    overflow-wrap: break-word;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: lightgrey;
    box-shadow: 0px 0px 10px black;
}

li * {
    margin: 8px 0px;
}

.botoesDica {
    margin: 0px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
}

.botoesDica button {
    transition: 200ms;
    border-radius: 100%;
    background-color: rgb(207, 207, 207);
    border-color: gray;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgb(207, 207, 207);
    font-size: 10px;
    font-weight: bold;
}

.botoesDica img {
    height: 20px;
    position: absolute;
}

.botoesDica a {
    text-decoration: none;
}

.botoesDica button:hover img {
    visibility: hidden;
}

.botoesDica button:hover {
    transition: 200ms;
    scale: 1.2;
    background-color: rgb(235, 233, 233);
    color: black;
}

span.termoPesquisado {
    background-color: yellow;
}

.inativo {
    display: none;
}

.invisivel{
    display: none;
}